<header class="page-header">
    <div class="container">
        <nav class="navigation">
            <a href="./index.html" class="logo_link">
                <span class="logo-span_link">Filmoteka</span>
            </a>
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a class="navigation__link " href="./index.html">Home</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link navigation__link--accent" href="./index.html">my library</a>
                </li>
            </ul>
            </navc>
            <ul class="btn-group_list">
                <li class="btn-group_item">
                    <button class=" btn_library">Watched</button>
                </li>
                <li class="btn-group_item">
                    <button class=" btn_library">queue</button>
                </li>
            </ul>
    </div>
</header>